:root {
    --primary-color: #f0db4f;
    --secondary-color: #f9f9f9;
    --text-color: #222222;
    --link-color: #1e90ff;
    --link-hover-color: #f0db4f;
    --hover-white: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: var(--text-color);
    background: linear-gradient(to top, #2196f3, #00bcd4, #ffffff);

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color: var(--hover-white);
    color: var(--text-color);
}
.collapse navbar-collapse {
    float: right;
}
section {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    section {
        padding: 30px;
    }
}

h2 {
    font-size: 2rem;
    color: #333;
}

p, ul {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    flex-grow: 1;
}

.card-body .btn {
    align-self: start;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    color: #555;
    padding: 15px;
    margin-top: auto;
    text-align: center;
}

footer p {
    margin: 5px;
}

a:focus {
    text-decoration: underline;
}

.navbar-nav .nav-link:hover,
.card-body .btn:hover {
    transition: background-color 0.3s, color 0.3s;
}

.section-bright {
    background: linear-gradient(to bottom, #ffffff 0%, #00bcd4 40%, #2196f3 100%);
    color: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

